.contenedor {
  border: 1px solid black;
  height: 300px;
  width: 300px;

  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.item {
  margin-top: 100px;
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 50px;
  color: white;
}
.rojo {
  background-color: red;
}
.azul {
  background-color: blue;
}
.verde {
  background-color: green;
}
